/* margin left */
.m-l-0 {
  margin-left: 0px;
}
.m-l-1 {
  margin-left: 1px;
}
.m-l-2 {
  margin-left: 2px;
}
.m-l-3 {
  margin-left: 3px;
}
.m-l-4 {
  margin-left: 4px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-l-6 {
  margin-left: 6px;
}
.m-l-7 {
  margin-left: 7px;
}
.m-l-8 {
  margin-left: 8px;
}
.m-l-9 {
  margin-left: 9px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-l-11 {
  margin-left: 11px;
}
.m-l-12 {
  margin-left: 12px;
}
.m-l-13 {
  margin-left: 13px;
}
.m-l-14 {
  margin-left: 14px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-l-16 {
  margin-left: 16px;
}
.m-l-17 {
  margin-left: 17px;
}
.m-l-18 {
  margin-left: 18px;
}
.m-l-19 {
  margin-left: 19px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-l-21 {
  margin-left: 21px;
}
.m-l-22 {
  margin-left: 22px;
}
.m-l-23 {
  margin-left: 23px;
}
.m-l-24 {
  margin-left: 24px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-l-26 {
  margin-left: 26px;
}
.m-l-27 {
  margin-left: 27px;
}
.m-l-28 {
  margin-left: 28px;
}
.m-l-29 {
  margin-left: 29px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-l-31 {
  margin-left: 31px;
}
.m-l-32 {
  margin-left: 32px;
}
.m-l-33 {
  margin-left: 33px;
}
.m-l-34 {
  margin-left: 34px;
}
.m-l-35 {
  margin-left: 35px;
}
.m-l-36 {
  margin-left: 36px;
}
.m-l-37 {
  margin-left: 37px;
}
.m-l-38 {
  margin-left: 38px;
}
.m-l-39 {
  margin-left: 39px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-l-41 {
  margin-left: 41px;
}
.m-l-42 {
  margin-left: 42px;
}
.m-l-43 {
  margin-left: 43px;
}
.m-l-44 {
  margin-left: 44px;
}
.m-l-45 {
  margin-left: 45px;
}
.m-l-46 {
  margin-left: 46px;
}
.m-l-47 {
  margin-left: 47px;
}
.m-l-48 {
  margin-left: 48px;
}
.m-l-49 {
  margin-left: 49px;
}
.m-l-50 {
  margin-left: 50px;
}
.m-l-51 {
  margin-left: 51px;
}
.m-l-52 {
  margin-left: 52px;
}
.m-l-53 {
  margin-left: 53px;
}
.m-l-54 {
  margin-left: 54px;
}
.m-l-55 {
  margin-left: 55px;
}
.m-l-56 {
  margin-left: 56px;
}
.m-l-57 {
  margin-left: 57px;
}
.m-l-58 {
  margin-left: 58px;
}
.m-l-59 {
  margin-left: 59px;
}
.m-l-60 {
  margin-left: 60px;
}
.m-l-61 {
  margin-left: 61px;
}
.m-l-62 {
  margin-left: 62px;
}
.m-l-63 {
  margin-left: 63px;
}
.m-l-64 {
  margin-left: 64px;
}
.m-l-65 {
  margin-left: 65px;
}
.m-l-66 {
  margin-left: 66px;
}
.m-l-67 {
  margin-left: 67px;
}
.m-l-68 {
  margin-left: 68px;
}
.m-l-69 {
  margin-left: 69px;
}
.m-l-70 {
  margin-left: 70px;
}
.m-l-71 {
  margin-left: 71px;
}
.m-l-72 {
  margin-left: 72px;
}
.m-l-73 {
  margin-left: 73px;
}
.m-l-74 {
  margin-left: 74px;
}
.m-l-75 {
  margin-left: 75px;
}
.m-l-76 {
  margin-left: 76px;
}
.m-l-77 {
  margin-left: 77px;
}
.m-l-78 {
  margin-left: 78px;
}
.m-l-79 {
  margin-left: 79px;
}
.m-l-80 {
  margin-left: 80px;
}
.m-l-81 {
  margin-left: 81px;
}
.m-l-82 {
  margin-left: 82px;
}
.m-l-83 {
  margin-left: 83px;
}
.m-l-84 {
  margin-left: 84px;
}
.m-l-85 {
  margin-left: 85px;
}
.m-l-86 {
  margin-left: 86px;
}
.m-l-87 {
  margin-left: 87px;
}
.m-l-88 {
  margin-left: 88px;
}
.m-l-89 {
  margin-left: 89px;
}
.m-l-90 {
  margin-left: 90px;
}
.m-l-91 {
  margin-left: 91px;
}
.m-l-92 {
  margin-left: 92px;
}
.m-l-93 {
  margin-left: 93px;
}
.m-l-94 {
  margin-left: 94px;
}
.m-l-95 {
  margin-left: 95px;
}
.m-l-96 {
  margin-left: 96px;
}
.m-l-97 {
  margin-left: 97px;
}
.m-l-98 {
  margin-left: 98px;
}
.m-l-99 {
  margin-left: 99px;
}
.m-l-100 {
  margin-left: 100px;
}

/* margin-top */
.m-t-1 {
  margin-top: 1px;
}
.m-t-2 {
  margin-top: 2px;
}
.m-t-3 {
  margin-top: 3px;
}
.m-t-4 {
  margin-top: 4px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-t-6 {
  margin-top: 6px;
}
.m-t-7 {
  margin-top: 7px;
}
.m-t-8 {
  margin-top: 8px;
}
.m-t-9 {
  margin-top: 9px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-11 {
  margin-top: 11px;
}
.m-t-12 {
  margin-top: 12px;
}
.m-t-13 {
  margin-top: 13px;
}
.m-t-14 {
  margin-top: 14px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-16 {
  margin-top: 16px;
}
.m-t-17 {
  margin-top: 17px;
}
.m-t-18 {
  margin-top: 18px;
}
.m-t-19 {
  margin-top: 19px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-21 {
  margin-top: 21px;
}
.m-t-22 {
  margin-top: 22px;
}
.m-t-23 {
  margin-top: 23px;
}
.m-t-24 {
  margin-top: 24px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-t-26 {
  margin-top: 26px;
}
.m-t-27 {
  margin-top: 27px;
}
.m-t-28 {
  margin-top: 28px;
}
.m-t-29 {
  margin-top: 29px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-t-31 {
  margin-top: 31px;
}
.m-t-32 {
  margin-top: 32px;
}
.m-t-33 {
  margin-top: 33px;
}
.m-t-34 {
  margin-top: 34px;
}
.m-t-35 {
  margin-top: 35px;
}
.m-t-36 {
  margin-top: 36px;
}
.m-t-37 {
  margin-top: 37px;
}
.m-t-38 {
  margin-top: 38px;
}
.m-t-39 {
  margin-top: 39px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-t-41 {
  margin-top: 41px;
}
.m-t-42 {
  margin-top: 42px;
}
.m-t-43 {
  margin-top: 43px;
}
.m-t-44 {
  margin-top: 44px;
}
.m-t-45 {
  margin-top: 45px;
}
.m-t-46 {
  margin-top: 46px;
}
.m-t-47 {
  margin-top: 47px;
}
.m-t-48 {
  margin-top: 48px;
}
.m-t-49 {
  margin-top: 49px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-t-51 {
  margin-top: 51px;
}
.m-t-52 {
  margin-top: 52px;
}
.m-t-53 {
  margin-top: 53px;
}
.m-t-54 {
  margin-top: 54px;
}
.m-t-55 {
  margin-top: 55px;
}
.m-t-56 {
  margin-top: 56px;
}
.m-t-57 {
  margin-top: 57px;
}
.m-t-58 {
  margin-top: 58px;
}
.m-t-59 {
  margin-top: 59px;
}
.m-t-60 {
  margin-top: 60px;
}
.m-t-61 {
  margin-top: 61px;
}
.m-t-62 {
  margin-top: 62px;
}
.m-t-63 {
  margin-top: 63px;
}
.m-t-64 {
  margin-top: 64px;
}
.m-t-65 {
  margin-top: 65px;
}
.m-t-66 {
  margin-top: 66px;
}
.m-t-67 {
  margin-top: 67px;
}
.m-t-68 {
  margin-top: 68px;
}
.m-t-69 {
  margin-top: 69px;
}
.m-t-70 {
  margin-top: 70px;
}
.m-t-71 {
  margin-top: 71px;
}
.m-t-72 {
  margin-top: 72px;
}
.m-t-73 {
  margin-top: 73px;
}
.m-t-74 {
  margin-top: 74px;
}
.m-t-75 {
  margin-top: 75px;
}
.m-t-76 {
  margin-top: 76px;
}
.m-t-77 {
  margin-top: 77px;
}
.m-t-78 {
  margin-top: 78px;
}
.m-t-79 {
  margin-top: 79px;
}
.m-t-80 {
  margin-top: 80px;
}
.m-t-81 {
  margin-top: 81px;
}
.m-t-82 {
  margin-top: 82px;
}
.m-t-83 {
  margin-top: 83px;
}
.m-t-84 {
  margin-top: 84px;
}
.m-t-85 {
  margin-top: 85px;
}
.m-t-86 {
  margin-top: 86px;
}
.m-t-87 {
  margin-top: 87px;
}
.m-t-88 {
  margin-top: 88px;
}
.m-t-89 {
  margin-top: 89px;
}
.m-t-90 {
  margin-top: 90px;
}
.m-t-91 {
  margin-top: 91px;
}
.m-t-92 {
  margin-top: 92px;
}
.m-t-93 {
  margin-top: 93px;
}
.m-t-94 {
  margin-top: 94px;
}
.m-t-95 {
  margin-top: 95px;
}
.m-t-96 {
  margin-top: 96px;
}
.m-t-97 {
  margin-top: 97px;
}
.m-t-98 {
  margin-top: 98px;
}
.m-t-99 {
  margin-top: 99px;
}
.m-t-100 {
  margin-top: 100px;
}

/* font-size */
.font-size-1 {
  font-size: 1px;
}
.font-size-2 {
  font-size: 2px;
}
.font-size-3 {
  font-size: 3px;
}
.font-size-4 {
  font-size: 4px;
}
.font-size-5 {
  font-size: 5px;
}
.font-size-6 {
  font-size: 6px;
}
.font-size-7 {
  font-size: 7px;
}
.font-size-8 {
  font-size: 8px;
}
.font-size-9 {
  font-size: 9px;
}
.font-size-10 {
  font-size: 10px;
}
.font-size-11 {
  font-size: 11px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-17 {
  font-size: 17px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-19 {
  font-size: 19px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-21 {
  font-size: 21px;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-23 {
  font-size: 23px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-25 {
  font-size: 25px;
}
.font-size-26 {
  font-size: 26px;
}
.font-size-27 {
  font-size: 27px;
}
.font-size-28 {
  font-size: 28px;
}
.font-size-29 {
  font-size: 29px;
}
.font-size-30 {
  font-size: 30px;
}

.tab-1 {
  padding-left: 4em;
}
.tab-2 {
  padding-left: 8em;
}
.tab-3 {
  padding-left: 12em;
}
.tab-4 {
  padding-left: 16em;
}
.tab-5 {
  padding-left: 20em;
}
.tab-6 {
  padding-left: 24em;
}
.tab-7 {
  padding-left: 28em;
}
.tab-8 {
  padding-left: 32em;
}
.tab-9 {
  padding-left: 36em;
}
.tab-10 {
  padding-left: 40em;
}
.tab-11 {
  padding-left: 44em;
}
.tab-12 {
  padding-left: 48em;
}
.tab-13 {
  padding-left: 52em;
}
.tab-14 {
  padding-left: 56em;
}
.tab-15 {
  padding-left: 60em;
}
.tab-16 {
  padding-left: 64em;
}

/* --- */
.text-indent-1 {
  text-indent: 4em;
}
.text-indent-2 {
  text-indent: 8em;
}
.text-indent-3 {
  text-indent: 16em;
}

@media (max-width: 768px) {
  .text-indent-1 {
    text-indent: 1em;
  }
  .text-indent-2 {
    text-indent: 2em;
  }
  .text-indent-3 {
    text-indent: 3em;
  }

  .tab-1 {
    padding-left: 1em;
  }
  .tab-2 {
    padding-left: 2em;
  }
  .tab-3 {
    padding-left: 3em;
  }
  .tab-4 {
    padding-left: 4em;
  }

  code {
    font-size: 12px !important;
  }
  b {
    font-size: 14px !important;
  }
}

.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}

.padding-inline-start-10 {
  padding-inline-start: 10px;
}
